/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-size: 150%;
}

.profileimg{
    border-radius: 50%;
    width:75px;
    height: 75px;
}

/*
index
*/
.indexbody{
    display: flex;
    flex-wrap: wrap;
}
.indexheader{
    width:100%;
    text-align: center;
}
.indexmain {
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f6ed;
    justify-content: center;
    margin: 0;
    max-width:80%;
}
.indexaside {
    max-width: 10%;
}
.keltainen{
    background-color: #ffe283;
}

.sininen{
    background-color: #75beff;
}

.punainen{
    background-color: #ff857b;
}

.vihrea{
    background-color: #69b895;
}



#loginForm {
    padding:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.editProfileLabel{

    padding:0;
}

.editProfileLabel > .editProfileInput{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */

}
.editProfileLabel > .editProfileInput + .editProfileImg{ /* IMAGE STYLES */

    cursor:pointer;
    border: 2px solid transparent;
    width: 75px;
    height: 75px;
}
.editProfileLabel > .editProfileInput:checked + .editProfileImg{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #dc2b1c;
}

button a{
    text-decoration: none;
    color: inherit;
}

button , .btn{
    background: #fcd229;
    background-image: -webkit-linear-gradient(top, #fcd229, #e0b404);
    background-image: -moz-linear-gradient(top, #fcd229, #e0b404);
    background-image: -ms-linear-gradient(top, #fcd229, #e0b404);
    background-image: -o-linear-gradient(top, #fcd229, #e0b404);
    background-image: linear-gradient(to bottom, #fcd229, #e0b404);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #5c594f;
    font-size: 26px;
    padding: 10px 20px 10px 20px;
    border: solid #d68803 3px;
    text-decoration: none;
}

button:hover , .btn:hover {
    background: #fca63c;
    background-image: -webkit-linear-gradient(top, #fca63c, #d98134);
    background-image: -moz-linear-gradient(top, #fca63c, #d98134);
    background-image: -ms-linear-gradient(top, #fca63c, #d98134);
    background-image: -o-linear-gradient(top, #fca63c, #d98134);
    background-image: linear-gradient(to bottom, #fca63c, #d98134);
    text-decoration: none;
}



.commentTextarea{
    resize: none;
    border-radius: 9px;
    border: 3px solid rgba(12, 49, 66, 0.54);
    width:35rem;
    height:10rem;
}

ul {
    list-style: none;
}

#comments li{
    background-color: #ebded6;
    border-radius: 39.5px;
    border: 4px solid darksalmon;
    max-width: 20em;

}
.commentHeader{


}

#comments li img{

    border: 4px solid #ebded6;
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

#comments p{

    margin:0;
    padding: 5px 15px;

}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 669px) {
    body {
        max-width: 60em;
        margin: auto;
    }

    main {
        width: 80%;
    }

    aside {
        width: 20%;
    }

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}